body {
    background-color: #454242;
    color: #ccccc3;
    margin: auto;
    text-align: center;
    font-weight: bold;
    text-align: center;
}

.resetpassword-input {
    background-color: #454242;
    color: #ccccc3;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.resetpassword-submit {
    width: 75px;
}
