<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/supersix/static/supersix.resetpassword.css", rel="stylesheet">
    <title>Superior Six Reset Password</title>
</head>
<body>
    {% if error %}
        <div class="resetpassword-error">
            {{ error }}
        </div>
    {% endif %}
    <img href="/supersix/static/logo.png" src="/supersix/static/logo.png" width="75px", height="75px" />
    <br />
    <br />
    {% if success %}
        <p>Password successfully reset</p>
    {% else %}
        <form action="resetpassword?t={{ token }}" method="post">
            Password
            <br />
            <input class="resetpassword-input" type="password", name="password" />
            <br />
            <br />
            Confirm Password
            <br />
            <input class="resetpassword-input" type="password", name="confirmpassword" />
            <br />
            <br />
            <input class="resetpassword-input resetpassword.submit" type="submit" />
        </form>
    {% endif %}
</body>
</html>